<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="fError" fileName="C:/logs/WeeklyEmailScheduler/${shortdate}_ERROR.log"/>
    <target xsi:type="File" name="fWarn" fileName="C:/logs/WeeklyEmailScheduler/${shortdate}_WARN.log" />
    <target xsi:type="File" name="fInfo" fileName="C:/logs/WeeklyEmailScheduler/${shortdate}_INFO.log" />
    <target xsi:type="File" name="fTrace" fileName="C:/logs/WeeklyEmailScheduler/${shortdate}_TRACE.log"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="fError" />
    <logger name="*" minlevel="Warn" writeTo="fWarn" />
    <logger name="*" minlevel="Info" writeTo="fInfo" />
    <logger name="*" minlevel="Trace" writeTo="fTrace" />
  </rules>
</nlog>