<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="TrainingEntities" connectionString="metadata=res://*/DataModel.JobModel.csdl|res://*/DataModel.JobModel.ssdl|res://*/DataModel.JobModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Training;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EndOfWeek" value="-5" />
    <add key="WebApiUrl" value="https://localhost:44384/" />
    <add key="password" value="12345" />
    <add key="email" value="email@gmail.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>